In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("train.csv")

# handle numerical data
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].mean())
df['Loan_Amount_Term']=df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean())
df['Credit_History']=df['Credit_History'].fillna(df['Credit_History'].mean())

#filling categorical missing data
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Married']=df['Married'].fillna(df['Married'].mode()[0])
df['Dependents']=df['Dependents'].fillna(df['Dependents'].mode()[0])
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

df['Total_income']=df['ApplicantIncome']+df['CoapplicantIncome']

#apply log tranformation to the attribute
df['ApplicantIncomeLog']=np.log(df['ApplicantIncome'])
df['CoapplicantIncomeLog']=np.log(df['CoapplicantIncome'])
df['Total_income_Log']=np.log(df['Total_income'])
df['LoanAmountLog']=np.log(df['LoanAmount'])
df['Loan_Amount_Term_Log']=np.log(df['Loan_Amount_Term'])

cols=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Total_income','Loan_ID','CoapplicantIncomeLog']
df=df.drop(columns=cols,axis=1)

d1=pd.get_dummies(df['Gender'],drop_first=True)
d2=pd.get_dummies(df['Married'],drop_first=True)
d3=pd.get_dummies(df['Dependents'],drop_first=True)
d4=pd.get_dummies(df['Education'],drop_first=True)
d5=pd.get_dummies(df['Self_Employed'],drop_first=True)
d6=pd.get_dummies(df['Property_Area'],drop_first=True)


df1=pd.concat([df,d1,d2,d3,d4,d5,d6],axis=1)
df=df1
cols=['Gender','Married',"Dependents","Education","Self_Employed",'Property_Area']
df=df.drop(columns=cols,axis=1)

df.head()

C:\pthon31\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Credit_History,Loan_Status,ApplicantIncomeLog,Total_income_Log,LoanAmountLog,Loan_Amount_Term_Log,Male,Yes,1,2,3+,Not Graduate,Yes,Semiurban,Urban
0,1.0,Y,8.674026,8.674026,4.986426,5.886104,1,0,0,0,0,0,0,0,1
1,1.0,N,8.430109,8.714568,4.852030,5.886104,1,1,1,0,0,0,0,0,0
2,1.0,Y,8.006368,8.006368,4.189655,5.886104,1,1,0,0,0,0,1,0,1
3,1.0,Y,7.856707,8.505323,4.787492,5.886104,1,1,0,0,0,1,0,0,1
4,1.0,Y,8.699515,8.699515,4.948760,5.886104,1,0,0,0,0,0,0,0,1

In [3]:
test=pd.read_csv("test.csv")
#filling numerical missing data
test['LoanAmount']=test['LoanAmount'].fillna(test['LoanAmount'].mean())
test['Loan_Amount_Term']=test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mean())
test['Credit_History']=test['Credit_History'].fillna(test['Credit_History'].mean())

#filling categorical missing data
test['Gender']=test['Gender'].fillna(test['Gender'].mode()[0])
test['Married']=test['Married'].fillna(test['Married'].mode()[0])
test['Dependents']=test['Dependents'].fillna(test['Dependents'].mode()[0])

test['Total_income']=test['ApplicantIncome']+test['CoapplicantIncome']

#apply log tranformation to the attribute
test['ApplicantIncomeLog']=np.log(test['ApplicantIncome'])

test['CoapplicantIncomeLog']=np.log(test['CoapplicantIncome'])

test['LoanAmountLog']=np.log(test['LoanAmount'])

test['Total_Income_Log']=np.log(test['Total_income'])

cols=['ApplicantIncome','CoapplicantIncome',"LoanAmount","Loan_Amount_Term","Total_income","Loan_ID"]
test=test.drop(columns=cols,axis=1)

t1=pd.get_dummies(test['Gender'],drop_first=True)
t2=pd.get_dummies(test['Married'],drop_first=True)
t3=pd.get_dummies(test['Dependents'],drop_first=True)
t4=pd.get_dummies(test['Education'],drop_first=True)
t5=pd.get_dummies(test['Self_Employed'],drop_first=True)
t6=pd.get_dummies(test['Property_Area'],drop_first=True)


df1=pd.concat([test,t1,t2,t3,t4,t5,t6],axis=1)
test=df1
cols=['Gender','Married',"Dependents","Education","Self_Employed",'Property_Area']
test=test.drop(columns=cols,axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Credit_History        614 non-null    float64
 1   Loan_Status           614 non-null    object
 2   ApplicantIncomeLog    614 non-null    float64
 3   Total_income_Log      614 non-null    float64
 4   LoanAmountLog         614 non-null    float64
 5   Loan_Amount_Term_Log  614 non-null    float64
 6   Male                  614 non-null    uint8
 7   Yes                   614 non-null    uint8
 8   1                     614 non-null    uint8
 9   2                     614 non-null    uint8
 10  3+                    614 non-null    uint8
 11  Not Graduate          614 non-null    uint8
 12  Yes                   614 non-null    uint8
 13  Semiurban             614 non-null    uint8
 14  Urban                 614 non-null    uint8
dtypes: float64(5), object(1), uint8(9)
memory usage: 34.3+ KB

C:\pthon31\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\pthon31\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [4]:
#specify input and output attributes
x=df.drop(columns=['Loan_Status'],axis=1)
y=df['Loan_Status']

In [5]:
x

,Credit_History,ApplicantIncomeLog,Total_income_Log,LoanAmountLog,Loan_Amount_Term_Log,Male,Yes,1,2,3+,Not Graduate,Yes,Semiurban,Urban
0,1.0,8.674026,8.674026,4.986426,5.886104,1,0,0,0,0,0,0,0,1
1,1.0,8.430109,8.714568,4.852030,5.886104,1,1,1,0,0,0,0,0,0
2,1.0,8.006368,8.006368,4.189655,5.886104,1,1,0,0,0,0,1,0,1
3,1.0,7.856707,8.505323,4.787492,5.886104,1,1,0,0,0,1,0,0,1
4,1.0,8.699515,8.699515,4.948760,5.886104,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,1.0,7.972466,7.972466,4.262680,5.886104,0,0,0,0,0,0,0,0,0
610,1.0,8.320205,8.320205,3.688879,5.192957,1,1,0,0,1,0,0,0,0
611,1.0,8.996157,9.025456,5.533389,5.886104,1,1,1,0,0,0,0,0,1
612,1.0,8.933664,8.933664,5.231109,5.886104,1,1,0,1,0,0,0,0,1
613,0.0,8.430109,8.430109,4.890349,5.886104,0,0,0,0,0,0,1,1,0

In [6]:
y

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [8]:
x_train.head()

,Credit_History,ApplicantIncomeLog,Total_income_Log,LoanAmountLog,Loan_Amount_Term_Log,Male,Yes,1,2,3+,Not Graduate,Yes,Semiurban,Urban
92,1.0,8.093462,8.535622,4.394449,5.886104,1,1,0,1,0,1,0,0,1
304,1.0,8.294050,8.779557,4.941642,5.886104,1,0,0,0,0,0,0,0,0
68,1.0,8.867850,8.867850,4.828314,4.094345,1,1,0,0,1,1,1,0,1
15,1.0,8.507143,8.507143,4.828314,5.886104,1,0,0,0,0,0,0,0,1
211,0.0,8.140316,8.451053,4.852030,5.886104,1,1,0,0,1,0,0,1,0

In [9]:
y_test.head()

350    Y
377    Y
163    Y
609    Y
132    Y
Name: Loan_Status, dtype: object

In [10]:
# randomforest classifier
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

model.fit(x_train,y_train)

RandomForestClassifier()

In [11]:
print("Accuracy is",model.score(x_test,y_test)*100)

Accuracy is 78.57142857142857

In [12]:
#decision  tree classifier
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()
model2.fit(x_train,y_train)

DecisionTreeClassifier()

In [13]:
print("Accuracy is",model2.score(x_test,y_test)*100)

Accuracy is 71.42857142857143

In [14]:
#Logistic regression
from sklearn.linear_model import LogisticRegression
model3=LogisticRegression()
model3.fit(x_train, y_train)
print("Accuracy is",model3.score(x_test,y_test)*100)

Accuracy is 77.27272727272727

C:\pthon31\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [15]:
from sklearn.metrics import confusion_matrix
y_pred=model.predict(x_test)
cm=confusion_matrix(y_test,y_pred)

In [16]:
cm

array([[24, 30],
       [ 3, 97]], dtype=int64)

In [17]:
import pickle
file=open("model.pkl", 'wb')
pickle.dump(model,file)